
.App {
  text-align: center;
}

.tutorial-container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  background-color: #9cb99d;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  align-content: center;
}

.tutorial-button {
  margin: 0 auto;
  background-color: #4caf50;
  color: white;
  padding: 20px 30px;
  text-align: center;
  
  font-size: 26px;
  border-radius: 20%;
  font-family: fantasy;

  cursor: pointer;
  text-decoration: none;
}
.tutorial-title {
  text-align: center;
  color: rgb(39, 17, 17);
  text-transform: uppercase;
  padding: 1px;
  font-family: "Raleway", cursive;
  font-weight: 100;
  position: relative;
  background: -webkit-linear-gradient(left, black, #eee, black);
  background: -moz-linear-gradient(left, black, #eee, black);
  background: -ms-linear-gradient(left, black, #eee, black);
  background: -o-linear-gradient(left, black, #eee, black);
}

.tutorial-text {
  margin: 50px;
  text-align: center;
  color: aliceblue;
}
.box-type {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(15, 15, 15);
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

body {
  
  color: #fff;
}
main {
  width: 300px;
  margin: 50px auto 0;
}
.layout-p {
  background-color: #9cb99d;
  margin-top: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.end{
  text-align: center;
}

.modal-body{
 display: flex;
 justify-content: center;
 align-items: center;
} 